

body {
  padding-top: 70px;
  padding-bottom: 30px;
  font-family: 'Open Sans', Arial, Helvetica, Sans-serif;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}


.system-status img.img-responsive {
  padding-bottom: 30px;
}

.system-status {
  color: #666;
  text-align: center;
  padding-bottom: 20px;
}

pre {
    overflow-x: auto;
}
pre code {
    overflow-wrap: normal;
    white-space: pre;
    word-wrap: normal;
}
